{% extends '../superAdmin/basesuadmin.html' %}

{% load static %}
{% block content %}


<head>
    <link rel="stylesheet" href="{% static 'css/superAdmin/stylesFormElem.css' %}">
    <title>Formulario Registro Usuarios</title>

</head>

<section class="section" style=" margin: 10px; padding: 30px">

    <!-- Inicio del Forumlario-->

    <h1>Lista de Elementos</h1>

    <div class="signupFrm">

        <table>
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Nombre</th>
                    <th>Categoría</th>
                    <th>Estado</th>
                    <th>Cantidad</th>
                    <th>Valor Unidad</th>
                    <th>Valor Total</th>
                    <th>Descripción</th>
                    <th>Observación</th>
                    <th>Factura</th>
                </tr>
            </thead>
            <tbody>
                {% for elemento in elementos %}
                <tr>
                    <td>{{ elemento.fechaElemento }}</td>
                    <td>{{ elemento.nombreElemento }}</td>
                    <td>{{ elemento.categoriaElemento }}</td>
                    <td>{{ elemento.estadoElemento }}</td>
                    <td>{{ elemento.cantidadElemento }}</td>
                    <td>{{ elemento.valorUnidadElemento }}</td>
                    <td>{{ elemento.valorTotalElemento }}</td>
                    <td>{{ elemento.descripcionElemento }}</td>
                    <td>{{ elemento.observacionElemento }}</td>
                    <td>{{ elemento.facturaElemento }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>


    </div>
    <a href="{% url 'generar_pdf' %}" class="btn btn-primary">Descargar PDF</a>
    <a href="{% url 'generar_excel' %}" class="btn btn-primary">Descargar Excel</a>

</section>

{% endblock %}